Zandpack.egg-info/
INSTALL_LOG.txt
Zandpack/examples/nb_tutorial_old/
Zandpack/__pycache__/
Zandpack/docs/_build/
Zandpack/cmdtools/_junk/
Zandpack/mpitest/
Zandpack/Padedata/
Zandpack/_junk
Zandpack/drivers/
Zandpack/boilerplatecode/
Zandpack/Plotting.py
Zandpack/Linalg_factorisation.py
Zandpack/LanczosAlg.py
Zandpack/LDA.py

